In [1]:
print("ok")

ok

In [2]:
import pandas as pd
# df = pd.read_csv("survey_results_public.csv")
df = pd.read_csv("survey_results_public.csv", index_col= 'Respondent')
#df.head()

In [3]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [4]:
df.rename(columns={
    'ConvertedComp' : 'Salary$'
})
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [5]:
df.rename(columns={
    'ConvertedComp' : 'Salary$'
},inplace=True)
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'Salary$', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [6]:
df.columns.value_counts()

PurchaseWhat                    1
WelcomeChange                   1
Age1stCode                      1
SurveyEase                      1
JobSeek                         1
CurrencySymbol                  1
NEWCollabToolsWorkedWith        1
NEWPurpleLink                   1
WorkWeekHrs                     1
OrgSize                         1
PlatformWorkedWith              1
JobFactors                      1
NEWCollabToolsDesireNextYear    1
DevType                         1
EdLevel                         1
SOVisitFreq                     1
Age                             1
Trans                           1
NEWOnboardGood                  1
CompTotal                       1
NEWDevOps                       1
NEWEdImpt                       1
Ethnicity                       1
Salary$                         1
NEWSOSites                      1
Hobbyist                        1
CurrencyDesc                    1
MainBranch                      1
NEWJobHuntResearch              1
CompFreq                        1
YearsCodePro                    1
NEWDevOpsImpt                   1
WebframeDesireNextYear          1
SOComm                          1
NEWOffTopic                     1
PlatformDesireNextYear          1
DatabaseDesireNextYear          1
NEWLearn                        1
NEWJobHunt                      1
SurveyLength                    1
Sexuality                       1
SOPartFreq                      1
SOAccount                       1
MiscTechWorkedWith              1
WebframeWorkedWith              1
YearsCode                       1
Employment                      1
MiscTechDesireNextYear          1
NEWPurchaseResearch             1
LanguageWorkedWith              1
NEWOvertime                     1
DatabaseWorkedWith              1
JobSat                          1
OpSys                           1
NEWStuck                        1
NEWOtherComms                   1
Country                         1
LanguageDesireNextYear          1
UndergradMajor                  1
Gender                          1
dtype: int64

In [7]:
df['Salary$'].value_counts()

120000.0     341
100000.0     306
150000.0     277
2000000.0    258
1000000.0    258
            ...
102700.0       1
68721.0        1
96250.0        1
38456.0        1
21487.0        1
Name: Salary$, Length: 6958, dtype: int64

In [8]:
df.sort_values(by=['Country','Salary$'], ascending=[True,False])

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary$,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
62788,I am a developer by profession,Yes,NaN,NaN,Weekly,8.000000e+06,1000000.0,Afghanistan,Albanian lek,ALL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65381,I am a developer by profession,No,NaN,8,Weekly,8.740000e+09,1000000.0,Afghanistan,Afghan afghani,AFN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,30,35
65456,I am a developer by profession,Yes,NaN,Younger than 5 years,Weekly,5.521171e+09,1000000.0,Afghanistan,Afghan afghani,AFN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,More than 50 years,More than 50 years
38672,I am a developer by profession,No,NaN,5,Monthly,1.225000e+06,231192.0,Afghanistan,Russian ruble,RUB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,40
28374,I am a developer by profession,Yes,NaN,7,Yearly,1.300000e+05,130000.0,Afghanistan,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['Salary$'].nlargest(10)

Respondent
123     2000000.0
125     2000000.0
193     2000000.0
665     2000000.0
699     2000000.0
724     2000000.0
818     2000000.0
986     2000000.0
1022    2000000.0
1036    2000000.0
Name: Salary$, dtype: float64

In [10]:
df.nlargest(10,'Salary$')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary$,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
123,I am a developer by profession,Yes,26.0,12,Weekly,120000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;jQuery;React.js,Spring,Just as welcome now as I felt last year,36.0,8,3
125,"I am not primarily a developer, but I write co...",Yes,41.0,30,Monthly,200000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,40.0,11,11
193,I am a developer by profession,Yes,29.0,16,Weekly,120000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,7
665,I am a developer by profession,Yes,24.0,13,Weekly,150000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",React.js,Express;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,4,Less than 1 year
699,"I am not primarily a developer, but I write co...",Yes,39.0,16,Weekly,52000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET;ASP.NET Core;Express;Flask,NaN,NaN,40.0,5,2
724,"I am not primarily a developer, but I write co...",Yes,NaN,12,Weekly,103000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,React.js,Not applicable - I did not use Stack Overflow ...,40.0,3,3
818,"I am not primarily a developer, but I write co...",Yes,40.0,15,Weekly,70000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",Angular;Flask;Spring,NaN,Somewhat less welcome now than last year,40.0,25,2
986,I am a developer by profession,Yes,27.0,11,Weekly,81000.0,2000000.0,United States,United States dollar,USD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Express;Laravel,Express;jQuery;Laravel,Just as welcome now as I felt last year,40.0,16,8
1022,I am a developer by profession,Yes,34.0,16,Weekly,142000.0,2000000.0,United States,United States dollar,USD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js,Angular;Angular.js;React.js;Vue.js,Just as welcome now as I felt last year,40.0,18,13
1036,I am a developer by profession,Yes,26.0,11,Weekly,68500.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,Angular;ASP.NET;ASP.NET Core;Django;Express;Fl...,A lot more welcome now than last year,40.0,5,3

In [11]:
df.nsmallest(10,'Salary$')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary$,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
124,I am a developer by profession,No,38.0,14,Yearly,0.0,0.0,United States,United States dollar,USD,...,Easy,Too short,No,"A humanities discipline (such as literature, h...",NaN,NaN,Somewhat less welcome now than last year,60.0,24,19
238,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,0.0,0.0,United States,United States dollar,USD,...,Easy,Too long,No,NaN,jQuery;React.js,jQuery,NaN,12.0,4,2
884,I am a developer by profession,Yes,41.0,10,Yearly,0.0,0.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,50.0,25,10
1116,I am a developer by profession,Yes,25.0,11,Yearly,0.0,0.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,55.0,14,4
1278,I am a developer by profession,Yes,21.0,12,Yearly,0.0,0.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Vue.js,Express;jQuery;React.js,Just as welcome now as I felt last year,40.0,9,2
1794,I am a developer by profession,Yes,NaN,8,Yearly,0.0,0.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,NaN,ASP.NET,ASP.NET,NaN,55.0,2,9
2073,I am a developer by profession,Yes,27.0,18,Yearly,0.0,0.0,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Gatsby;React.js,Angular;Angular.js;Gatsby;React.js,Just as welcome now as I felt last year,60.0,5,4
2196,I am a developer by profession,Yes,NaN,24,Monthly,1.0,0.0,Republic of Moldova,Moldovan leu,MDL,...,Easy,Too long,No,"A social science (such as anthropology, psycho...",Vue.js,Flask;Vue.js,Just as welcome now as I felt last year,60.0,8,3
2248,I am a developer by profession,No,NaN,12,Yearly,0.0,0.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,Flask,A lot less welcome now than last year,35.0,12,12
2323,I am a developer by profession,Yes,NaN,15,Yearly,0.0,0.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular,Angular;Angular.js,Just as welcome now as I felt last year,45.0,38,22

In [12]:
df['Salary$'].median()

54049.0

In [13]:
df.median()

Age               29.0
CompTotal      63000.0
Salary$        54049.0
WorkWeekHrs       40.0
dtype: float64

In [14]:
df.describe()

                Age      CompTotal       Salary$   WorkWeekHrs
count  45446.000000   3.482600e+04  3.475600e+04  41151.000000
mean      30.834111  3.190464e+242  1.037561e+05     40.782174
std        9.585392            inf  2.268853e+05     17.816383
min        1.000000   0.000000e+00  0.000000e+00      1.000000
25%       24.000000   2.000000e+04  2.464800e+04     40.000000
50%       29.000000   6.300000e+04  5.404900e+04     40.000000
75%       35.000000   1.250000e+05  9.500000e+04     44.000000
max      279.000000  1.111111e+247  2.000000e+06    475.000000

In [15]:
df['Salary$'].count()

34756

In [16]:
df['Salary$'].value_counts()

120000.0     341
100000.0     306
150000.0     277
2000000.0    258
1000000.0    258
            ...
102700.0       1
68721.0        1
96250.0        1
38456.0        1
21487.0        1
Name: Salary$, Length: 6958, dtype: int64

In [17]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [18]:
df['Hobbyist'].count()

64416

In [19]:
df['SOAccount'].value_counts()

Yes                        47275
No                          6101
Not sure/can't remember     3429
Name: SOAccount, dtype: int64

In [20]:
df['SOAccount']

Respondent
1         No
2        Yes
3        Yes
4        Yes
5        Yes
        ...
64858    NaN
64867    NaN
64898    NaN
64925    NaN
65112    NaN
Name: SOAccount, Length: 64461, dtype: object

In [21]:
df['SOAccount'].value_counts(normalize= True) *100

Yes                        83.223308
No                         10.740252
Not sure/can't remember     6.036440
Name: SOAccount, dtype: float64

In [22]:
# make country group

In [44]:
country_grp = df.groupby(['Country'])

In [45]:
country_grp

In [47]:
country_grp.get_group('India')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary$,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,INR,...,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
55407,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_group= country_grp.get_group('India')
df_group.count()

MainBranch                      8384
Hobbyist                        8403
Age                             4413
Age1stCode                      6912
CompFreq                        4261
CompTotal                       2681
Salary$                         2668
Country                         8403
CurrencyDesc                    5135
CurrencySymbol                  5135
DatabaseDesireNextYear          5702
DatabaseWorkedWith              6134
DevType                         5625
EdLevel                         6873
Employment                      8323
Ethnicity                       3539
Gender                          5415
JobFactors                      5461
JobSat                          5051
JobSeek                         6031
LanguageDesireNextYear          6444
LanguageWorkedWith              6884
MiscTechDesireNextYear          5178
MiscTechWorkedWith              4279
NEWCollabToolsDesireNextYear    5360
NEWCollabToolsWorkedWith        5913
NEWDevOps                       4478
NEWDevOpsImpt                   4348
NEWEdImpt                       5286
NEWJobHunt                      4405
NEWJobHuntResearch              4262
NEWLearn                        6765
NEWOffTopic                     5454
NEWOnboardGood                  4486
NEWOtherComms                   6780
NEWOvertime                     4596
NEWPurchaseResearch             4320
NEWPurpleLink                   6179
NEWSOSites                      7048
NEWStuck                        6341
OpSys                           6666
OrgSize                         4927
PlatformDesireNextYear          6013
PlatformWorkedWith              6249
PurchaseWhat                    4458
Sexuality                       3808
SOAccount                       6758
SOComm                          6629
SOPartFreq                      5775
SOVisitFreq                     6799
SurveyEase                      5620
SurveyLength                    5620
Trans                           5240
UndergradMajor                  6393
WebframeDesireNextYear          5193
WebframeWorkedWith              5040
WelcomeChange                   5833
WorkWeekHrs                     4029
YearsCode                       6873
YearsCodePro                    5176
dtype: int64

In [26]:
filt = df['Country'] == 'United States'
df.loc[filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary$,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [27]:
df.loc[filt]['SOComm'].value_counts()

No, not really     3821
Yes, somewhat      2805
Neutral            2294
No, not at all     1289
Yes, definitely    1259
Not sure             92
Name: SOComm, dtype: int64

In [28]:
country_grp['Age'].value_counts().head(100)

Country      Age
Afghanistan  23.0    5
             22.0    3
             25.0    3
             15.0    2
             20.0    2
                    ..
Argentina    49.0    1
             50.0    1
             56.0    1
             58.0    1
             61.0    1
Name: Age, Length: 100, dtype: int64

In [29]:
country_grp['Age'].value_counts().loc['India']

Age
23.0    424
25.0    407
24.0    380
26.0    341
22.0    339
       ...
69.0      1
70.0      1
73.0      1
94.0      1
98.0      1
Name: Age, Length: 61, dtype: int64

In [30]:
country_grp['Age'].value_counts(normalize = True)

Country      Age
Afghanistan  23.0    0.227273
             22.0    0.136364
             25.0    0.136364
             15.0    0.090909
             20.0    0.090909
                       ...
Zimbabwe     21.0    0.052632
             25.0    0.052632
             27.0    0.052632
             30.0    0.052632
             33.0    0.052632
Name: Age, Length: 3697, dtype: float64

In [31]:
country_grp['Age'].value_counts(normalize = True).loc['China'] * 100

Age
27.0    8.426966
24.0    7.865169
22.0    7.303371
23.0    6.741573
25.0    6.179775
26.0    6.179775
29.0    5.617978
28.0    5.056180
21.0    4.494382
32.0    4.494382
20.0    3.932584
30.0    3.932584
31.0    3.932584
19.0    3.370787
35.0    3.370787
39.0    2.247191
37.0    1.685393
13.0    1.123596
16.0    1.123596
17.0    1.123596
18.0    1.123596
33.0    1.123596
34.0    1.123596
36.0    1.123596
38.0    1.123596
42.0    1.123596
51.0    1.123596
12.0    0.561798
14.0    0.561798
15.0    0.561798
40.0    0.561798
41.0    0.561798
43.0    0.561798
57.0    0.561798
Name: Age, dtype: float64

In [33]:
country_grp['Salary$'].median().loc['Canada']

68068.0

In [35]:
country_grp['Salary$'].agg(['median','mean']).loc['Canada']

median     68068.000000
mean      115101.775465
Name: Canada, dtype: float64

In [37]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'Salary$', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [38]:
filt= df['Country']== 'Canada'

In [39]:
df.loc[filt]['LanguageWorkedWith']

Respondent
26                                       JavaScript;Python
32                               C;C++;Java;Python;SQL;VBA
51                        JavaScript;Python;SQL;TypeScript
66       Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
75        Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
                               ...
19609                                       C++;JavaScript
30010    Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...
35616                                                  NaN
36174                           HTML/CSS;JavaScript;Python
62834                                        C;C#;C++;Java
Name: LanguageWorkedWith, Length: 2191, dtype: object

In [41]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
26        True
32        True
51        True
66        True
75        True
         ...
19609    False
30010     True
35616      NaN
36174     True
62834    False
Name: LanguageWorkedWith, Length: 2191, dtype: object

In [42]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

1011

In [48]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).