In [4]:
people = {
    "first" : ["manash","rahim","sakib",'lamda'],
    "last" : ["mondal","hasan","rahaman",'mondal'],
    "email" : ["manash@gmail.com","rahim@yahoo.com","sakib@hotmail.com",'lamda@outlook.com']
}
import pandas as pd

df = pd.DataFrame(people)

In [5]:
df

    first     last              email
0  manash   mondal   manash@gmail.com
1   rahim    hasan    rahim@yahoo.com
2   sakib  rahaman  sakib@hotmail.com
3   lamda   mondal  lamda@outlook.com

In [8]:
df.sort_values(by = 'last', ascending = False)

    first     last              email
2   sakib  rahaman  sakib@hotmail.com
0  manash   mondal   manash@gmail.com
3   lamda   mondal  lamda@outlook.com
1   rahim    hasan    rahim@yahoo.com

In [12]:
df.sort_values(by = ['email','last'], ascending = True)

    first     last              email
3   lamda   mondal  lamda@outlook.com
0  manash   mondal   manash@gmail.com
1   rahim    hasan    rahim@yahoo.com
2   sakib  rahaman  sakib@hotmail.com

In [24]:
# df.sort_values(by = ['first','last'], ascending =[False,True])  # not in place
df.sort_values(by = ['first','last'], ascending =[False,True],inplace =True) 
df

    first     last              email
2   sakib  rahaman  sakib@hotmail.com
1   rahim    hasan    rahim@yahoo.com
0  manash   mondal   manash@gmail.com
3   lamda   mondal  lamda@outlook.com

In [19]:
df.sort_index() #reste the sort

    first     last              email
0  manash   mondal   manash@gmail.com
1   rahim    hasan    rahim@yahoo.com
2   sakib  rahaman  sakib@hotmail.com
3   lamda   mondal  lamda@outlook.com

In [26]:
df['last'].sort_values()

1      hasan
0     mondal
3     mondal
2    rahaman
Name: last, dtype: object